{% extends 'base.html.twig' %}

{% block title %}Marvel{% endblock %}

{% block body %}
    {% for team in teams %}
        <h2 class="team-title">{{ team.name }}</h2>
        <section class="team-section">
        {% for hero in team.getHeroes.getValues %}
            <a href="/hero/{{ hero.identity }}" class="link-to-hero">
                <div class="hero-card" style="background-image: url('img/{{ hero.picture }}')">
                    <div class="hero-identity-bg">
                        <h3 class="hero-identity">{{ hero.identity }}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
        </section>
    {% endfor %}
{% endblock %}
