h2.team-title {
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
    margin: 50px;
    font-size: 2.25em;
}

section.team-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 20px;
    a.link-to-hero {
        text-decoration: none;
        color: white;
        grid-column: span 12;
        div.hero-card {
            text-align: center;
            width: 250px;
            min-height: 300px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: end;
            justify-content: flex-end;
            border: 1px solid white;
            div.hero-identity-bg {
                display: flex;
                align-items: end;
                justify-content: flex-end;
                background-color: red;
                width: 100%;
                padding: 10px;
                h3.hero-identity {
                    margin: 0 20px 10px 0;
                }
            }
        }
    }
}

@media screen and (min-width: 616px) and (max-width: 865px) {
    section.team-section {
        gap: 50px;
        a.link-to-hero {
            grid-column: span 6;
            div.hero-card {
                flex: 1 0 50%;
            }
        }
    }
}

@media screen and (min-width: 866px) {
    section.team-section {
        gap: 50px;
        a.link-to-hero {
            grid-column: span 4;
            div.hero-card {
                flex: 1 0 33%;
            }
        }
    }
}